/* Hide the paypal button from Paypal Pro */
div._qf_Main_upload_express-section,
div._qf_Payment_upload_express-section,
div.paypal_button_info-section
{
  display: none;
}

/* Adjust contribution page width */
.page-civicrm-contribute.no-sidebars #region-content {
  width: 100%;
}

.page-civicrm-contribute .region-content-inner {
  padding-right: 0;
}